*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a{
    color:rgb(255, 0, 0);
    margin: 0 20px 0 20px;
}

.adv{
    
    background-size: 100%;
    height: 876px;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    
}


.adv a{
    color: rgb(175, 30, 30);
   display: flex; 
    margin-bottom: 289px;
}

h1 {
    display: flex;
    margin-top: 296px;
    color: rgb(255, 0, 0);
}

body{
    background-image:url(https://phonoteka.org/uploads/posts/2022-01/thumbs/1642923338_2-phonoteka-org-p-fon-odnotonnii-temnii-2.jpg); 
}

.download-games{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.download-games a{
margin: 0 30px 0 30px;
}

h3 {
    color: red;
    display: flex;
    margin-top: 5px;
    font-size: 37px;
}

.our-team{
    display: flex;
    align-items:center;
    flex-direction:column;

}
.messangers img{
    width: 50px;
    border-radius: 176%;
}
.wrapper-team{
    display: flex;
}
.row{
    margin: 0 65px 0 65px;
}

h2{
    color: red;
    font-size: 56px;
}

.best-month-games{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.game-cards-box{
    display: flex;
}

.game-member-card{
margin: 0 35px 0 35px;
color: red;
}
