*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
nav{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

nav a{
    color:rgb(255, 0, 0);
    margin: 0 20px 0 20px;
}

.adv{
    
    background-size: 100%;
    height: 876px;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    
}


.adv a{
    color: rgb(175, 30, 30);
   display: flex; 
    margin-bottom: 289px;
}

h1 {
    display: flex;
    margin-top: 296px;
    color: rgb(255, 0, 0);
}

body{
    background-image:url(https://phonoteka.org/uploads/posts/2022-01/thumbs/1642923338_2-phonoteka-org-p-fon-odnotonnii-temnii-2.jpg); 
}

.download-games{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.download-games a{
margin: 0 30px 0 30px;
}

h3 {
    color: red;
    display: flex;
    margin-top: 5px;
    font-size: 37px;
}

.our-team{
    display: flex;
    align-items:center;
    flex-direction:column;

}
.messangers img{
    width: 50px;
    border-radius: 176%;
}
.wrapper-team{
    display: flex;
}
.row{
    margin: 0 65px 0 65px;
}

h2{
    color: red;
    font-size: 56px;
}

.best-month-games{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.game-cards-box{
    display: flex;
}

.game-member-card{
margin: 0 35px 0 35px;
color: red;
}

.basement{
    display: flex;
    justify-content:space-evenly;
    align-items:flex-end;
}

.basement p{
    color: red;
}

.back-to-top{
    position: fixed;
    right: 10px;
    bottom: 61px;
    width: 50px;
    height: 50px;
    border-color: transparent;
    border-radius: 50%;
    background-color: rgb(11, 75, 11);
}

.back-to-top:hover,
.back-to-top:focus{
    filter: brightness(1.5);
    outline: none;
}

.back-to-top::before,
.back-to-top::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.back-to-top::before{
    width: 5px;
    height: 25px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: white;
}

.back-to-top::after{
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50% ) rotate(45deg);
    border-top: 5px solid white;
    border-left: 5px solid white;
}